body{
     opacity: 1;
   
     /* Full height */
     height: 100%;
   
     /* Center and scale the image nicely */
     background-position: center;
     background-size: cover;
} 
h1{
    text-align: center;
    color: #8A191D;
    padding: 2vh;
   
}
.bg{
    /* background-image: url("{{asset('images/rooms/room.jpg')}}";  */
    background-color: #f2f2f2;
    border-radius: 25px;
    opacity: 0.89;
    width: 25%;
    height: 540px;
    margin-left: 70vh;
    margin-right: 50vh;
    margin-top: 15vh;
    display: flex;
    
}
.add-rooms{
position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
form{
    line-height: 2rem;
}
.inputstl { 
    padding: 8px; 
    border: solid 1px #4B718B; 
    outline: 0; 
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #CDDBE4), to(#FFFFFF)); 
    background: -moz-linear-gradient(top, #FFFFFF, #CDDBE4 1px, #FFFFFF 25px); 
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 

}

button{
    float: center;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    font-weight: 500;
    font-family: 'Merriweather', serif;
    color: black;
    border: 1px solid transparent;
    background-color:rgb(194, 187, 187);
    padding: 5px 30px 5px 30px;
    font-size: 1rem;
    line-height: 1;
    border-radius: 10px;
    transition: color .15s 
}
button:hover{
    color:#FFFFFF;
    background-color: #8A191D;
}
#btn1{
    margin-right: 70px;
}
#btn2{
    margin-left: 10px;
}
