body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
 margin-top: 0px;
  }
  .text h1{
    font-family: 'Merriweather', serif;
    font-weight: 500;
    line-height: 1.3;
    font-size: 4vw;
    text-align: center;
  }
  h2{
    text-align: center;
  }
  .text{
    font-family: century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    width: 100%;
  }
  /* tables */
  #info {
      border-collapse:collapse;
      /* border: 1vh solid; */
  }
  table{
    max-height: 300px;
    height:20vh;
    width: 60vw;
    overflow: auto;
    display:block;
  }
  /* thead, tbody{
    display: block;
    width:100%;
  }
  tbody{
    height:100px;
    overflow:auto;
  } */
  .bookings table{
    width:90vw;
  }

  td, th{
    border: 1px solid #ddd;
    padding: 8px;
    text-align:center;
  }
  #info tr:nth-child(even){background-color: #f2f2f2;}
  #info tr:hover {background-color: #ddd;}
  #info th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04AA6D;
    color: white;
  }

/* infograph */
  .left, .right {
    float: left;
    width: 20%; /* The width is 20%, by default */
  }
  
  .mid {
    float: left;
    width: 60%; /* The width is 60%, by default */
  }
  
  /* Use a media query to add a breakpoint at 800px: */
  @media screen and (max-width: 800px) {
    .left, .mid, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }

  .flex-container{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    
  }

  .overflow{
    overflow: scroll;
  }