/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, Helvetica, sans-serif !important;
    margin: 0px;
    margin-top: 0px;
  }
  .navbar{
    color: #000 !important;
  }
  .nav-link .username{
    top: -1;
  }
  .nav-item .nav-link li{
    right:10px;
  } 
   .navbar ul li{
    justify-content: space-between;
  }
  
  /* Navigation Bar*/
  
  /* Style the navbar */
  
  /* for dropdown */
  
  
  /* .dropdown-menu li{
    
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
  }*/
  
  img {
    max-width: 100%;
    max-height: 100%;
} 

.portrait {
  
  margin-left:30px;
  margin-right:30px;
    height: 60px;
    width: 90px;
}
 /* i{
  margin-right:50px;
  background:red;
  align-items:center;
  position:relative;
  top:15px;
  right:25px;
  float: left !important;
}  */
 /* .links{
     margin-right: 10px;
     width: 25%;
 } */
  
  /* end of drop down */
     .nav-login{
      float: right;
      margin-left: 95vh;
     
    }
     /* .username{
       float: right;
      display: block;
      text-align: center;
      
    }  */
     
     /* connecting admin and logout panel */
  
     
  
     /*  */
     nav ul li a:hover {
      text-align: center;
      background-color: #8A191D;
      border-radius: 0px 15px 0px 15px;
      color: #fff !important;
      
  
    }
    .dropdown-menu a:hover {
      text-align: center;
      background-color: #8A191D !important;
      border-radius: 0px 15px 0px 15px;
      color: #fff !important;
    }
    /*.navbar-brand{
      height: 7vh;
    }  */
    .navbar{
        height: 9vh;
        align-items: center;
        max-width: 100%;
        max-height: 100%;
    }

    .navbar ul li a button{
        float: right;
        
    }
    .dropdown button{
        font-size: 1.0em;
        vertical-align: middle;
        margin-right: 10px;
        padding-top: 9px;
    }