body{
    display:flex;
    flex-flow:column;
    background-color: #F5F5F5;
    box-sizing: border-box;
}
.container{
    display:flex;
    flex-flow: column wrap;
}
.items{
    display: flex;
    flex-flow: row wrap;
    margin-left:3%;
}
.item{
    display:flex;
    flex-flow:column wrap;
    /* height: 200px; */
    width: 300px;
    background-color: white;
    padding: 50px;
    /* float: left; */
    margin: 10px;
    text-align: center;
}
.banner{
    margin: 0;
    padding: 0;
    position: relative;
    
  }
.banner img{
    max-width:100%;
    max-height:300px;
}
  
.banner .logo{
    float: left;
    position: absolute;
    top: 0;
    margin-left: 30px;
    
}
.logo img{
    max-height: 270px;
    max-width:230px;
}
.photo{
    background-color: white;
    padding: 100px 7px;
}
.photo .section-title h1:before{
    left: 30%;
}
.photo .filter-buttons{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.photo .filter-buttons ul{
    list-style: none;
    text-align: center;
    padding: 0;
}
.photo .filter-buttons ul li{
    color: #8A191D;
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    margin: 0px 8px;
    text-transform: uppercase;
    cursor: pointer;
    padding-bottom: 0px;
    font-family: Montserrat, sans-serif;
}
.photo .filter-buttons ul li.active{
    color: black;
    border-bottom: 2px solid black;
}
.photo .photo-gallery{
    flex: 0 0 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.photo .photo-gallery .item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    position: relative;
    padding: 8px;
  
}
.photo .photo-gallery .item .inner{
    position: relative;
}
.photo .photo-gallery .item img{
    width: 95%;
    display: block;
}